
body {
    width:90%;
    margin:0 auto;
    background: url('../image/网页背景.jpg')

}

/*header*/
.header {
    border-bottom: solid 10px #1BFF00;
}

iframe{
    position: absolute;
    margin-left: 85%;
}

h1 {
    margin-bottom: 0;
    margin-top: 4%;
    text-align: center;
}

strong {
    display: inline-block;
    text-align: center;
    margin-top: 5%;
}

nav {
    text-align:center;
    margin-top:1%;
    font-size:1.5em;
}

.headerl img {
    width: 90%;
}

.headerr div {
    text-align: center;
    width:20%;
    font-size: 1.5em;
    margin:0 auto;
}

.headerr ul {
    text-align: center;
    margin-top: 2%;
}

.headerr a {
    display: inline-block;
    background-color: rgba(255,255,0,0.5);
    border-radius:5px;
    margin-right: 50px;
    color: #000000;
    padding: 5px;
    background: url('../image/finger.png') no-repeat;
    background-position: 0 50%;
    padding-left: 30px;
}

/*theme-img*/

.some-introduction {
    margin-top:2%;
}

.some-introduction h2 {
    margin-top: 2%;
    margin-bottom:5%;
    display: inline-block;

}

.some-introduction ul {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
}

.some-introduction li {
    margin-bottom: 2%;
    margin-right:5%;
}


/*featured-demo*/
.featured-demo{
    margin-top: 100px;
}

.featured-demo h2{
    margin-bottom: 25px;
}

.demo-list li {
    float: left;
    list-style-type: none;
    padding: 0 !important;
}



.theme-img {
    padding-left: 4%;
    margin-top: 2%;
}


.headerl p {
    width: 90%;
    text-align: center;
    display:inline-block;
    margin-bottom: 2%;
}


figcaption{
    text-align: center;
}

figcaption a{
    font-size: 1.2em;
}

figure p{
    text-align: center;
}



.theme-img ol{
    background-color:#808080;
    position: absolute;
    border-radius: 5px;
}

.theme-img ol li:first-child{
    border-left: #FF0000 solid 5px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
}

.theme-img ol li:last-child{
    border-radius: 0px 5px 5px 0px;
}

.theme-img ol li{
    display: inline-block;
    border-right: #FF0000 solid 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -4px;
}


.theme-img ol{
    padding-left: 0px;
}



@media screen and (max-width:480px){
    body{
        font-size:16px;
        line-height: 1.25em;
    }

    .theme-img{
        display: none;
    }

    a{
        width:48px;
    }

    strong{
        margin:10px;
        width:50px;
    }

    iframe{
        display: none;
    }
}
